{
  "extends": "standard",
  "env": {
    "es6": true
  },
  "rules": {
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "asyncArrow": "always",
      "named": "never"
    }]
  }
}
